<div class="ui centered segment">
  <div class="ui minimalist icon input">
    <input type="text" placeholder="Search...">
    <i class="circular search icon"></i>
  </div>
  <ul class="mod list">
    <li class="list item">
      <h3>Mod name</h3>
      <div class="description">This is the mod description</div>
    </li>
  </ul>
</div>
